$box-shadow = 0 0 4px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1)
$dark-texture = url('../img/messages.png') bottom left repeat-x
$blue-texture = url('../img/messages.png') top left repeat-x

body 
  background url('../img/main.jpg')
  color #fff
  font-size 11px
  line-height 15px
  font-family helvetica, arial, sans-serif

a, avisited 
  text-decoration none
  color #54a6de

.new a, .new avisited 
  color #222

ahover 
  text-decoration underline

#wrapper 
  margin 50px auto
  width 850px

#message 
  display none
  font-size 20px
  line-height 30px
  width 400px
  margin 0 auto

#message p 
  margin-bottom 30px

#message #secret 
  margin-bottom 0px

#dropbox 
  background $dark-texture
  border-radius 3px
  display none
  width 800px
  margin-left 25px
  height 100px
  line-height 100px
  text-align center
  box-shadow $box-shadow

#dropbox.dragenter 
  background $blue-texture

#files 
  overflow auto
  display none

#files li 
  background $dark-texture
  overflow hidden
  float left
  border-radius 3px
  width 240px
  height 90px
  margin-top 25px
  margin-left 25px
  position relative
  padding 5px
  font-weight bold
  box-shadow $box-shadow

#files li .delete 
  position absolute
  line-height 11px
  color #b75327
  bottom 5px
  right 5px

#files .new 
  background $blue-texture

#github 
  position absolute 
  top 0 
  right 0 
  border 0